*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f8f9fa !important;
}

/* Card Styles menu */
.card{
    border: 0 !important;
}
.card-body h5 a {
    font-size: 0.9rem !important;
    color: rgb(48, 48, 48) !important;
}
.card-body p {
    font-size: 0.9rem !important;
}
.menu_detail{
    
}



/* Modal */
.modal-dialog {
    height: 100vh !important;
    justify-content: center;
    align-items: center;
    display: flex;
}
.modal-header{
    border-bottom: 0 !important;
}

/* Navbar  */
.content_left {
    position: fixed;
    right: 9px;
    top: 9px;
    display: flex;
    background: #f8f9fa;
    z-index: 1;
}
.nav-link {
    padding: 0.5rem 0rem 0.5rem 0rem !important;
}
.dropdown-menu{
    margin-right: -1rem;
}
ul.dropdown-menu.show {
    text-align: center;
    margin-left: -4.5rem;
}
i.bi.bi-cart {
    background: red;
    border-radius: 3rem;
    color: white;
    padding: 0.2rem 0.4rem;
    font-weight: bold;
    font-size: 0.8rem;
    margin-left: -7px;
}
.navbar {
    position: fixed !important;
    z-index: 1;
    top: 0;
    width: 100%;
}
.icon-badge-container{
    align-items: center;
}
span#totalMessage {
    background: rgb(255, 153, 0);
    border-radius: 3rem;
    color: white;
    padding: 0.2rem 0.4rem;
    font-weight: bold;
    font-size: 0.8rem;
    margin-left: -7px;
}

i.far.fa-envelope.icon-badge-icon {
    font-size: 1.3rem;
}
.icon-badge {
    margin-right: 1rem;
}
.icon-badge-container a {
    color: #212529;
}

@media only screen and (max-width: 520px) {
  .register button {
      display: none;
  }
}
@media only screen and (max-width: 420px) {
    ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
        display: none;
    }
  }


/* ViewCart */
@media only screen and (max-width: 433px) {
    td.viewCartNro {
        display: none ;
    }
    th.viewCartNro {
        display: none;
    }
    .table>:not(caption)>*>*{
        padding: .5rem 0.0rem !important;
    }
  }

  /* Contact */
  .content_contact {
    background: rebeccapurple !important;
}